body {
  font-size: 21px;
  background-color: rgb(253, 253, 253);
}

h1, .h1 { font-size: 63px;}
h2, .h2 { font-size: 46px; }
h3, .h3 { font-size: 29px; }
h4, .h4 { font-size: 24px; }

#top-menu {
  margin-bottom: 0;
}

#top-menu .navbar-brand {
  font-size: 20px;
}

#top-menu .navbar-nav > li > a {
  font-size: 16px;
  color: rgb(200, 200, 200);
}

@media (max-width: 480px) {
  #top-menu .nav.navbar-nav {
    margin: 0;
  }
  #top-menu .navbar-brand {
    font-size: 14px;
    line-height: 14px;
    height: 40px;
  }
  #top-menu .navbar-nav > li > a {
    font-size: 12px;
    line-height: 12px;
    padding: 6px;
  }
}

section {
  padding: 20px 0;
  border-top: 1px solid #E6E6E6;
}

section:nth-child(even) {
  background-color: rgb(253, 253, 253);
}

a, .oomph {
  color: #37abc8;
}

.btn-success {
  background-color: #37abc8;
}

.btn-success:hover {
  background-color: #3097b0;
  border-color: #3097b0;
}

#start {
  background-color: #37abc8;
  text-align: center;
  color: rgb(240, 240, 240);
}

#start h1 {
  text-shadow: 1px 1px 2px gray;
}

#start h2 {
  font-size: 24px;
}
